<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('出库记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								出库时间：<input type="text" name="selltime"/>
							</li>

							<li>
								供应商：<input type="text" name="supplier"/>
							</li>

							<li>
								供应商地址：<input type="text" name="supplierAddress"/>
							</li>

							<li>
								类别：<input type="text" name="cat"/>
							</li>

							<li>
								货号：<input type="text" name="itemNumber"/>
							</li>

							<li>
								货架号：<input type="text" name="storeNumber"/>
							</li>

							<li>
								码数：<input type="text" name="size"/>
							</li>

							<li>
								出库数：<input type="text" name="sellCount"/>
							</li>

							<li>
								出库价：<input type="text" name="sellPrice"/>
							</li>

							<li>
								定价：<input type="text" name="setPrice"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <!--<div class="btn-group-sm" id="toolbar" role="group">-->
				<!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:xrgSellrecord:add">-->
					<!--<i class="fa fa-plus"></i> 添加-->
				<!--</a>-->
				<!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:xrgSellrecord:edit">-->
					<!--<i class="fa fa-edit"></i> 修改-->
				<!--</a>-->
				<!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:xrgSellrecord:remove">-->
					<!--<i class="fa fa-remove"></i> 删除-->
				<!--</a>-->
				<!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:xrgSellrecord:export">-->
						<!--<i class="fa fa-download"></i> 导出-->
				 <!--</a>-->
			<!--</div>-->
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:xrgSellrecord:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:xrgSellrecord:remove')}]];
        var prefix = ctx + "system/xrgSellrecord";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				backUrl: prefix + "/back",
                modalName: "出库记录",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键',
					visible: false
				},
				{
					field : 'selltime', 
					title : '出库时间',
					sortable: true
				},
				{
					field : 'supplier', 
					title : '供应商',
					sortable: true
				},
				{
					field : 'supplierAddress', 
					title : '供应商地址',
					sortable: true
				},
				{
					field : 'cat',
					title : '类别',
					sortable: true
				},
				{
					field : 'itemNumber', 
					title : '货号',
					sortable: true
				},
				{
					field : 'storeNumber', 
					title : '货架号',
					sortable: true
				},
				{
					field : 'size', 
					title : '码数',
					sortable: true
				},
				{
					field : 'sellCount',
					title : '出库数',
					sortable: true
				},
				{
					field : 'sellPrice',
					title : '出库价',
					sortable: true
				},
				{
					field : 'setPrice',
					title : '定价',
					sortable: true
				} ,
				{
					field : 'purchasePrice',
					title : '成本价',
					sortable: true
				} ,
		       {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.xrg_back(\'' + row.id + '\',\'' + row.itemNumber + '\')"><i class="fa fa-remove"></i>退货</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>