<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>小人国统计</title>
    <link rel="stylesheet" href="/ajax/libs/layui/2.5.1/css/layui.css">
    <link rel="stylesheet" href="/ajax/libs/layui/2.5.1/css/layui.mobile.css">
    <script src="/js/jquery.min.js"></script>
</head>
<style>
    .layui-inline{
        position: relative !important;
    }
    .addText{
        width: 20px;
        position: absolute;
        top: 9px;
        left: 214px;
        color: #999!important;
    }
</style>
<body>
<div class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px">支付方式</label>
            <div class="layui-input-inline" style="width: 95px;height: 38px">
                <select id="payType" name="payType" lay-filter="payType" style="width: 90px;height: 22px">
                    <option value="">所有</option>
                    <option value="0">微信</option>
                    <option value="1">支付宝</option>
                    <option value="2">现金</option>
                    <option value="3">其他</option>
                </select>
            </div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px">总收入</label>
            <div class="layui-input-inline" style="width: 95px">
                <input type="text" class="layui-input" id="allsum" >
            </div>
            <div class="addText">元</div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px">利润</label>
            <div class="layui-input-inline" style="width: 95px">
                <input type="text" class="layui-input" id="allprofit" >
            </div>
            <div class="addText">元</div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px">年月查询</label>
            <div class="layui-input-inline" style="width: 95px">
                <input type="text" class="layui-input" id="ymsumselect" placeholder="请选择月份">
            </div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px"></label>
            <div class="layui-input-inline" style="width: 95px">
                <input type="text" class="layui-input" id="ymsum" >
            </div>
            <div class="addText">元</div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px">利润</label>
            <div class="layui-input-inline" style="width: 95px">
                <input type="text" class="layui-input" id="ymprofit" >
            </div>
            <div class="addText">元</div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px">年月日查询</label>
            <div class="layui-input-inline" style="width: 95px">
                <input type="text" class="layui-input" id="ymdsumselect" placeholder="请选择时间">
            </div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px"></label>
            <div class="layui-input-inline" style="width: 95px">
                <input type="text" class="layui-input" id="ymdsum" >
            </div>
            <div class="addText">元</div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px">利润</label>
            <div class="layui-input-inline" style="width: 95px">
                <input type="text" class="layui-input" id="ymdprofit" >
            </div>
            <div class="addText">元</div>
        </div>
    </div>
</div>

<script src="/ajax/libs/layui/2.5.1/layui.js"></script>
<script>
    var ymsum_y,ymsum_m,ymdsum_y,ymdsum_m,ymdsum_d;

    layui.use(['jquery', 'laydate', 'layer', 'form'], function(){
        var $ = layui.jquery
            ,laydate = layui.laydate
            ,layer = layui.layer
            ,form  = layui.form;

        form.render();

        window.getNormalCount =  function(payType, year, month, day){
            $.ajax({
                url:'/system/xrgStatistics/normalCount',
                type: 'get',
                dataType: 'json',
                data:{
                    payType:payType,
                    year:year,
                    month:month,
                    day:day
                },
                success:function(result){
                    if(result.code == '0'){
                        var data = result.data;
                        if(month && !day){
                            $('#ymsum').val(data.sellPrice);
                            $('#ymprofit').val(data.profit);
                        }
                        else if (day){
                            $('#ymdsum').val(data.sellPrice);
                            $('#ymdprofit').val(data.profit);
                        }
                        else{
                            $('#allsum').val(data.sellPrice);
                            $('#allprofit').val(data.profit);
                        }
                    }
                },
                error: function() {
                    layer.alert("查询连接异常！");
                }
            });
        }

        //年月选择器
        laydate.render({
            elem: '#ymsumselect'
            ,type: 'month'
            ,value: new Date()
            ,done: function(value, date, endDate){
                getNormalCount($('#payType').val(), date.year, date.month);
                ymsum_y = date.year;
                ymsum_m = date.month;
            }
        });

        //年月日选择器
        laydate.render({
            elem: '#ymdsumselect'
            ,type: 'date'
            ,value: new Date()
            ,done: function(value, date, endDate){
                getNormalCount($('#payType').val(), date.year, date.month, date.date);
                ymdsum_y = date.year;
                ymdsum_m = date.month;
                ymdsum_d = date.date;
            }
        });

        //初始化当天数据
        var date=new Date;
        var year=date.getFullYear();
        var month=date.getMonth()+1;
        var day=date.getDate();
        getNormalCount();
        getNormalCount('', year, month);
        getNormalCount('', year, month, day);
        ymsum_y = year;
        ymsum_m = month;
        ymdsum_y = year;
        ymdsum_m = month;
        ymdsum_d = day;


        form.on('select(payType)', function(data){
            getNormalCount(data.value);
            getNormalCount(data.value, ymsum_y, ymsum_m);
            getNormalCount(data.value, ymdsum_y, ymdsum_m, ymdsum_d);
        });
    });
</script>

</body>
</html>