<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>小人国统计</title>
    <link rel="stylesheet" href="/ajax/libs/layui/2.5.1/css/layui.css">
    <link rel="stylesheet" href="/ajax/libs/layui/2.5.1/css/layui.mobile.css">
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">总收入</label>
            <div class="layui-input-inline" style="width: 130px">
                <input type="text" class="layui-input" id="allsum" >
            </div>
            <div class="layui-form-mid layui-word-aux">元</div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label">年月查询</label>
            <div class="layui-input-inline" style="width: 130px">
                <input type="text" class="layui-input" id="ymsumselect" placeholder="请选择月份">
            </div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline" style="width: 130px">
                <input type="text" class="layui-input" id="ymsum" >
            </div>
            <div class="layui-form-mid layui-word-aux">元</div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label">年月日查询</label>
            <div class="layui-input-inline" style="width: 130px">
                <input type="text" class="layui-input" id="ymdsumselect" placeholder="请选择时间">
            </div>
        </div>
        </br>
        <div class="layui-inline">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline" style="width: 130px">
                <input type="text" class="layui-input" id="ymdsum" >
            </div>
            <div class="layui-form-mid layui-word-aux">元</div>
        </div>
    </div>
</div>

<script src="/ajax/libs/layui/2.5.1/layui.js"></script>
<script>
    layui.use(['jquery', 'laydate', 'layer'], function(){
        var $ = layui.jquery
            ,laydate = layui.laydate
            ,layer = layui.layer;

        window.getNormalCount =  function(year, month, day){
            $.ajax({
                url:'/system/xrgStatistics/normalCount',
                type: 'get',
                dataType: 'json',
                data:{
                    year:year,
                    month:month,
                    day:day
                },
                success:function(result){
                    if(result.code == '0'){
                        if(month && !day){
                            $('#ymsum').val(result.msg);
                        }
                        else if (day){
                            $('#ymdsum').val(result.msg);
                        }
                        else{
                            $('#allsum').val(result.msg);
                        }
                    }
                },
                error: function() {
                    layer.alert("查询连接异常！");
                }
            });
        }

        //年月选择器
        laydate.render({
            elem: '#ymsumselect'
            ,type: 'month'
            ,value: new Date()
            ,done: function(value, date, endDate){
                getNormalCount(date.year, date.month);
            }
        });

        //年月日选择器
        laydate.render({
            elem: '#ymdsumselect'
            ,type: 'date'
            ,value: new Date()
            ,done: function(value, date, endDate){
                getNormalCount(date.year, date.month, date.date);
            }
        });

        getNormalCount();
        var date=new Date;
        var year=date.getFullYear();
        var month=date.getMonth()+1;
        var day=date.getDate();
        getNormalCount(year, month);
        getNormalCount(year, month, day);
    });
</script>

</body>
</html>